.recent-courses-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: left;
  margin-bottom: 12px;
  margin-left: 12px;
}

.recent-courses-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 9px;
  margin-bottom: 61px;
}
